/* General */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Fondo blanco */
    color: #333333; /* Texto en un gris oscuro */
    line-height: 1.6;
}

/* Encabezado */
header {
    background-color: #2C3E50; /* Azul oscuro */
    color: white;
    text-align: center;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Perfil Contenedor */
.perfil-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    text-align: left;
    padding: 20px;
    max-width: 800px;
}

.foto-portafolio {
    max-width: 180px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.perfil-contenedor p {
    max-width: 500px;
    font-size: 20px;
    text-align: justify; /* Justificación del texto del perfil */
}

/* Proyectos */
#proyectos {
    padding: 20px;
    text-align: center;
    background-color: #ecf0f1; /* Fondo gris claro */
}

#proyectos h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #2C3E50; /* Azul oscuro */
}

.proyecto {
    background: white;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.proyecto h3 {
    font-size: 22px;
    margin: 10px 0;
    color: #2C3E50; /* Azul oscuro */
}

.proyecto p {
    text-align: justify; /* Justificación del texto de los proyectos */
}

.proyecto a {
    color: #3498DB; /* Azul claro */
    text-decoration: none;
}

.proyecto a:hover {
    text-decoration: underline;
}

/* Contacto */
#contacto {
    padding: 20px;
    text-align: center;
    background-color: #ecf0f1; /* Fondo gris claro */
}

#contacto ul {
    list-style: none;
    padding: 0;
}

#contacto li {
    display: inline;
    margin: 0 10px;
}

#contacto a {
    color: #3498DB; /* Azul claro */
    text-decoration: none;
}

#contacto a:hover {
    text-decoration: underline;
}

/* Pie de Página */
footer {
    text-align: center;
    padding: 10px 20px;
    background-color: #2C3E50; /* Azul oscuro */
    color: white;
}
